/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo {
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 4%;
    background-color: #f6f0f0;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar h3 {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.navbar h3 p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-top: 6px;
    line-height: 1.4;
}

.navbar .profile {
    width: 40px;
    border-radius: 50%;
}

